<div class="comment clearfix">
	<div class="comment_content">
		<p class="commnet_name"><strong><%= comment.name %></strong> <span class="comment_time"><i><%= time_ago_in_words(comment.created_at) %> ago</i></span></p>
		
		<p class="comment_body"><%= comment.body %></p>
	</div>
	<% if can? :destroy, @comment %>
	<p><%= link_to 'Delete', [comment.post, comment], method: :delete, class:"button", data:{confirm: 'Are you sure?'}, class:"btn btn-default pull-right" %></p>
	<% end %>
</div>