<div class="post_wrapper">
	<div class="post_title">
		<h2>Name: <%= @user.name %></h2>
		<h2>Email: <%= @user.email %></h2>
		<h2>Role: <%= @user.role %></h2>
	</div>
	<div>
		<%= link_to "All users", users_path %>
	</div>
</div> <!-- /post_wrapper -->