<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>
<!--
	<div class="content">
		<h1>Hiya! You recognise me coz I follow you to work <strong>every</strong> morning!</h1>
		<p>This about page will not trump your intellect or smash your greatest expectations into thousands little shards of failure. No. It will do less than that, to say the least.</p>
		<p>It will simply soothe you into submission with unimportant stuff, to a point when your brain stops registering reality.<br><br><br>Yes... yes... yes.<br><br><br>		
		Worth to mention here, this blog was created watching Mackenzie Child rails blog tutorial on youtube. I highly reccomend. Although he assumes you know why he is inserting certain methods and symbols in various places, also that you know what the methods do and so on. Other than that nice concise tutorial in one just-over-an-hour hit.</p>
		<p><strong> <%= link_to "Rails blog tut", "https://www.youtube.com/watch?v=BI_VnnOLSKY&t=2835s" %></strong></p>
	</div>-->
</div>