<div class="page_wrapper">
	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<div id="profile_image">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/codestraggler/images/profile.jpg") %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8 col-sm-offset-1">
		<h1>Hiya! You recognise this face coz I follow you to work <strong>every</strong> morning!</h1><br>
		<p>Yeah, I know.<br><br>Anyways, let's get some numbers out of the way, so I can be measured up correctly. Born in 1985, on a rainy Monday afternoon. A group of fine-feathered pigeons, were pecking on some nutritious twigs, outside a fallen ranger's hut, in the middle of a forest. Meanwhile I was being delivered to this world in a hospital, in a town, in northern Poland. Rumor has it, that you leave that place sicker than when arrived...also there was something about dead bodies in black bags, but I can't remember the saying exactly. Anyway, a <span class="label label-default">grim place</span> in a constant struggle between life and death, but so is any hospital for that matter.<br><br>Right, so we've established I was born.<br><br>I don't follow you to work every day, by the way. I only do it to that pie shop round the corner from that pub, then I stare via my phone zooming in on you as distance between us becomes increasingly more unbearably distant. Yes. Yes.</p>
		</div>
</div>